<!DOCTYPE html>

<!-- --------------------------------
This page allows the user to select language
to be used in the application

This page is shown in the main screen when you start the application

(Re)Move 3rd party libraries with caution
Bootstrap is used in the jumbotron and fonts
--------------------------------- -->

<html>

<head>
	<title>Tervetuloa Qubeen. Welcome to Qube.</title>
	<meta charset="UTF-8">

	<!-- ONLINE JQUERYS AND BOOTSTRAPS AND WHAT-NOTS

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet"> -->

	<!-- LOCAL jquery and bootsrap libraries 
		USE THESE IF RUNNING A RISK OF NO INTERNET CONNECTION -->
	<script src="/jquery/jquery-3.3.1.js"></script>
	<script src="/jquery/jquery-1.12.2.js"></script>
	<script src="/bootstrap-3.3.6/js/bootstrap.js"></script>

	<link href="/bootstrap-3.3.6/css/bootstrap.css" rel="stylesheet"> 
	<link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">

	<link href="/css/styles.css" rel="stylesheet">
	<link href="/css/home.css" rel="stylesheet">
</head>

<body id="grad">
	<div class="jumbotron">
		<h1 class="text-center" style="margin: 30px 0px 30px 0px; color: black;">Tervetuloa Qubeen</h1>
		<h1 class="text-center" style="margin: 30px 0px 30px 0px; color: black;">Welcome to Qube</h1>
		<h2 class="text-center" style="margin: 30px 0px 30px 0px; color: black;">Valitse kieli / Choose your language</h2>

	</div>
	<div class="container text-center">
		<div class="stanewmeas">
			
			<form action="selectLanguage" method="POST">
				<button type="submit" name="language" value="fi" id="fi" class="lang-select">Suomi</button>
			</form>

			<form action="selectLanguage" method="POST">
				<button type="submit" name="language" value="en" id="en" class="lang-select">English</button>
			</form>

		</div>
	</div>



</body>

</html>